@import "nullstyle.scss";
@media (min-width: 500px) {
    ::-webkit-scrollbar{
        width: 10px;
    }
    ::-webkit-scrollbar-track{
        border-radius: 100px;
    }
    ::-webkit-scrollbar-thumb{
        background: #8a8a8a;
        background-clip: content-box;
        border: 3px solid rgba(0, 0, 0, 0.0);
        border-radius: 100px;
    }
    ::-webkit-scrollbar-track-piece{
        background: rgba(0, 0, 0, 0.0);
    }
    ::-webkit-scrollbar-button{
        background: rgba(0, 0, 0, 0.0);
    }
    ::-webkit-scrollbar-corner {
        background: rgba(0, 0, 0, 0.0);
    }
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    overflow-y: overlay;
    color: #1F3B4C;
    background: #F9F9FA;
}
.header{
    width: 100vw;
    padding-top: 24px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    input{
        display: none;
    }
    .container{
        height: calc(72px + 56px + 22px);
        position: relative;
        display: flex;
        @media screen and (max-width: 1030px){
            height: calc(36px);
            justify-content: center;
            label{
                //margin-right: auto;
                position: sticky;
                top: 24px;
                z-index: 1000;
                order: -1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 36px;
                height: 36px;
                background: #FBD60B;
                border-radius: 50%;
                cursor: pointer;
                margin-right: 58px;
                span{
                    display: block;
                    width: 18px;
                    height: 3px;
                    background: #067C94;
                    &:nth-child(2){
                        margin: 3px 0;
                    }
                }
            }
            #burger:checked ~ .nav{
                left: 0;
            }
        }
    }
    .contact{
        margin-left: auto;
        display: flex;
        height: 72px;
        align-items: center;
        img{
            height: 32px;
            margin-right: 8px;
        }
        div{
            height: 32px;
            display: flex;
            flex-direction: column;
            a{
                font-weight: 400;
                font-size: 15px;
                line-height: 18px;
                text-transform: uppercase;
                color: #5A5A5A;
            }
        }
        @media screen and (max-width: 1030px) {
            margin-left: 0;
            height: 36px;
            img{
                display: none;
            }
            div{
                height: 13px;
            }
            div a{
                font-weight: 600;
                font-size: 11px;
                line-height: 13px;
                text-transform: uppercase;
                color: #525151;
                width: 94px;
            }
            a:last-child{
                display: none;
            }
        }
    }
    .position{
        height: 72px;
        display: flex;
        align-items: center;
        margin-left: 16px;
        img{
            height: 32px;
            margin-right: 8px;
        }
        p{
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            text-transform: uppercase;
            color: #5A5A5A;
        }
        @media screen and (max-width: 1030px) {
            display: none;
        }
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 72px;
        img{
            height: 100%;
        }
        span{
            display: block;
            height: 100%;
            width: 1px;
            background: #5A5A5A;
            margin: 0 8px;
        }
        p{
            color: #5A5A5A;
            font-weight: 400;
            font-size: 19px;
            line-height: 23px;
        }
        @media screen and (max-width: 1030px) {
            margin: 0 auto;
            height: 36px;
            span{
                display: none;
            }
            p{
                display: none;
            }
            img{
                height: 36px;
            }
        }
    }
    .nav{
        position: absolute;
        left: 50%;
        top: calc(72px + 56px);
        transform: translateX(-50%);
        width: 100%;
        display: flex;
        gap: 36px;
        justify-content: center;
        align-items: center;
        z-index: 10;
        .link{
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            text-transform: uppercase;
            color: #067C94;
            &-active{
                border-bottom: 6px solid #FBD60B;
            }
        }
        @media screen and (max-width: 1030px){
            position: absolute;
            top: -24px;
            left: -200%;
            z-index: 999;
            height: 100vh;
            width: 100vw;
            transition: 0.5s ease-in-out;
            background: rgba(31, 59, 76, 0.95);
            transform: none;
            display: flex;
            flex-direction: column;
            .link{
                color: #ffffff;
            }

        }
    }
}
.container{
    max-width: 1160px;
    margin: 0 auto;
    @media screen and (max-width: 1304px) {
        padding: 0 72px;
    }
    @media screen and (max-width: 820px) {
        padding: 0 48px;
    }
    @media screen and (max-width: 600px) {
        padding: 0 24px;
    }
    >h1{
        font-weight: 700;
        font-size: 52px;
        line-height: 63px;
        display: inline;
        padding-bottom: 48px;
        span{
            display: block;
            width: 100%;
            height: 6px;
            background: rgba(251, 214, 11, 1);
            margin-bottom: 24px;
            margin-top: 4px;
        }
    }
    >a{
        display: inline;
        span{
            display: block;
            width: 100%;
            height: 6px;
            background: rgba(251, 214, 11, 1);
        }
    }
    @media screen and (max-width: 1000px){
        >h1{
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            width: 100%;
        }
    }
}
section{
    .container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
.section-why{
    background: #1F3B4C;
    padding: 48px 0 112px 0;
    .container{
        h1{
            color: #FBD60B;
        }
        >p{
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            color: #FFFFFF;
            margin-bottom: 35px;
            @media screen and (max-width: 1200px){
                text-align: center;
                width: 100%;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
            }
        }
    }
    .list{
        display: flex;
        justify-content: stretch;
        gap: 39px;
        @media screen and (max-width: 1240px){
            flex-wrap: wrap;
            .item{
                min-width: 272px;
                h2{
                    font-size: 15px;
                    line-height: 17px;
                }
                p{
                    font-size: 15px;
                    line-height: 18px;
                }
                img{
                    height: 72px;
                    margin-bottom: 24px;
                }
            }
        }
        .item{
            min-width: 350px;
            width: 100%;
            padding: 24px;
            color: rgba(255, 255, 255, 1);
            background: rgba(42, 81, 104, 1);
            border-radius: 16px;
            h2{
                font-weight: 600;
                font-size: 22px;
                line-height: 25px;
                text-transform: uppercase;
                margin-bottom: 24px;
            }
            p{
                font-weight: 400;
                font-size: 22px;
                line-height: 27px;
                margin-bottom: 48px;
            }
            img{
                height: 116px;
                margin-bottom: 72px;
            }
        }
    }
}
.section-services{
    margin-top: 72px;
    .list{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 104px;
        row-gap: 28px;
        @media screen and (max-width: 1200px){
            grid-template-columns: 1fr;
        }
        .item{
            img{
                height: 313px;
                width: 100%;
                object-fit: cover;
                @media screen and (max-width: 582px) {
                    object-fit: contain;
                    height: auto;
                }
            }
            h2{
                font-weight: 600;
                font-size: 22px;
                line-height: 25px;
                text-transform: uppercase;
                color: #1F3B4C;
                margin-top: 32px;
                @media screen and (max-width: 800px){
                    font-size: 18px;
                    line-height: 21px;
                }
            }
            span{
                display: block;
                max-width: 316px;
                width: 70%;
                height: 6px;
                background: rgba(251, 214, 11, 1);
                margin-top: 5px;
            }
            &:nth-child(2){
                h2{
                    text-align: right;
                }
                span{
                    margin-left: auto;
                }
            }
            &:nth-child(4){
                h2{
                    text-align: right;
                }
                span{
                    margin-left: auto;
                }
            }
        }

    }
    .button{
        margin: 0 auto;
        margin-top: 66px;
    }
}
.section-rent{
    margin-top: 72px;
    .list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 32px;
        width: 100%;
        @media screen and (max-width: 1000px) {
            grid-template-columns: 1fr 1fr;
        }
        @media screen and (max-width: 650px) {
            grid-template-columns: 1fr;
        }
        .item{
            display: flex;
            flex-direction: column;
            width: 100%;
            img{
                width: 100%;
                height: 277px;
                object-fit: contain;
            }
            p{
                display: block;
                width: 228px;
                background: rgba(251, 214, 11, 1);
                font-weight: 400;
                font-size: 21px;
                line-height: 24px;
                color: #1F3B4C;
                span{
                    font-weight: 700;
                }
            }
            h2{
                font-weight: 600;
                font-size: 22px;
                line-height: 25px;
                text-transform: uppercase;
                color: #1F3B4C;
                margin-top: 28px;
            }
        }
    }
    .button{
        margin: 0 auto;
        margin-top: 66px;
    }
}
.footer{
    height: 64px;
    background: #FFFFFF;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #2A5168;
    }
    a{
        font-size: 11.43px;
        line-height: 14px;
        color: #0C5A93;
        span{
            height: 1px;
            background: #0C5A93;
        }
    }
}
.section-product{
    margin-top: 72px;
    .list{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 42px;
        @media screen and (max-width: 1168px) {
            grid-template-columns: 1fr 1fr;
        }
        @media screen and (max-width: 960px) {
            grid-template-columns: 1fr;
        }
        .item{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                width: 100%;
            }
            .item-footer{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 50px;
                margin-top: 16px;
                h2{
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 25px;
                    text-transform: uppercase;
                    color: #1F3B4C;
                    display: block;
                    @media screen and (max-width: 960px) {
                        font-size: 18px;
                        line-height: 21px;
                    }
                }
                span{
                    display: block;
                    width: 16%;
                    height: 2px;
                    background: #FBD60B;
                }
                p{
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 25px;
                    color: #1F3B4C;
                    @media screen and (max-width: 960px) {
                        grid-template-columns: 1fr;
                    }
                }
            }
        }
    }
    .button{
        margin: 0 auto;
        margin-top: 66px;
        margin-bottom: 72px;
    }
}
.section-about{
    background: #FFFFFF;
    width: 100%;
    .list{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 18px 0;
        gap: 32px;
        @media screen and (max-width: 800px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
        .item{
            width: 201px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: 800px) {
                width: 100%;
            }
            p{
                font-weight: 400;
                font-size: 22px;
                line-height: 25px;
                text-align: center;
                text-transform: uppercase;
                margin-top: 9px;
                @media screen and (max-width: 800px) {
                    font-size: 15px;
                    line-height: 17px;
                }
            }
        }
    }
}
.section-main{
    width: 100vw;
    height: 100vh;
    background: url("../img/Group 19.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    @media screen and (max-width: 1270px) {
        min-height: 100vh;
        height: auto;
    }
    .container{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        height: 120%;
        h1{
            padding-bottom: 0;
        }
        @media screen and (max-width: 1270px) {
            padding-top: 100px;
            flex-direction: column;
            align-items: center;
        }
    }
    h1{
        font-weight: 600;
        font-size: 52px;
        line-height: 63px;
        color: #1F3B4C;
        z-index: 5;
        position: relative;
        span{
            background: none;
            display: block;
            height: auto;
            width: auto;
            margin: 0;
            font-weight: 800;
        }
    }
    .list{
        //margin-top: 32px;
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        .item{
            display: flex;
            gap: 8px;
            align-items: center;
            p{
                font-weight: 400;
                font-size: 24px;
                line-height: 29px;
                color: #1F3B4C;
            }
        }
    }
    img{
        width: 100%;
        position: absolute;
        top: 50%;
        right: -35%;
        transform: translateY(-50%);
        z-index: -1;
        @media screen and (max-width: 1270px) {
            position: relative;
            top: 0;
            left: 0;
            transform: none;
            order: 2;
        }
    }
    .button{
        @media screen and (max-width: 1270px) {
            order: 3;
        }
    }
}
.section-delivery{
    margin-top: 72px;
    margin-bottom: 72px;
    .list{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 40px;
        @media screen and (max-width: 1180px) {
            grid-template-columns: 1fr 1fr;
            gap: 48px;
        }
        @media screen and (max-width: 800px) {
            grid-template-columns: 1fr;
            gap: 24px;
        }
        .item{
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
                font-weight: 500;
                font-size: 40px;
                line-height: 49px;
                color: #FBD60B;
                @media screen and (max-width: 800px){
                    font-size: 18px;
                    line-height: 22px;
                }
            }
            span{
                margin-top: 13px;
                margin-bottom: 31px;
                display: block;
                width: 140px;
                height: 2px;
                background: rgba(251, 214, 11, 1);
            }
            p{
                font-weight: 400;
                font-size: 24px;
                line-height: 29px;
                text-align: center;
                color: #1F3B4C;
                @media screen and (max-width: 800px){
                    font-size: 15px;
                    line-height: 18px;
                }
            }
        }
    }
}
.section-partners{
    margin-top: 72px;
    .slider{
        width: 100%;
        margin-bottom: 56px;
        overflow: hidden;
        position: relative;

        @media screen and (max-width: 1050px) {
            display: flex;
            flex-direction: column;
            .slick-list{
                order: -1;
            }
        }
        .slick-prev{
            height: 72px;
            width: 72px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            z-index: 100;
            font-size: 0;
            background: #067C94;
            background-image: url('../img/arrowleft.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 50%;
            @media screen and (max-width: 1050px) {
                position: relative;
                order: 3;
                transform: none;
                top: 0;
                left: 0;
                display: inline-block;
                margin-top: 24px;
            }
        }
        .slick-next{
            height: 72px;
            width: 72px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            z-index: 100;
            font-size: 0;
            background: #067C94;
            background-image: url('../img/arrowright.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 50%;
            @media screen and (max-width: 1050px) {
                position: absolute;
                order: 3;
                transform: none;
                right: 0;
                display: inline-block;
                top: auto;
                bottom: 0;
            }
        }
        .slider__item{
            img{
                width: 80%;
                height: 200px;
                object-fit: contain;
                margin: 0 auto;
            }
        }
    }
    .button{
        margin: 0 auto;
    }
}
.section-contact{
    padding: 72px 0;
    .container{
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        place-content: center;
        place-items: center;
        gap: 48px;
        @media screen and (max-width: 1080px){
            grid-template-columns: 1fr;
            grid-auto-flow: dense;
            font-size: 18px;
            line-height: 22px;
        }
        h1{
            font-weight: 700;
            font-size: 52px;
            line-height: 63px;
            display: inline;
            padding-bottom: 48px;
            span{
                display: none;
                width: 100%;
                height: 6px;
                background: rgba(251, 214, 11, 1);
                margin-bottom: 24px;
                margin-top: 4px;
            }
            @media screen and (max-width: 1080px){
                span{
                    display: block;
                }
            }
        }
        h2{
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: #1F3B4C;
            margin-top: 17px;
            margin-bottom: 22px;
        }
        @media screen and (max-width: 1000px){
            h1{
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                text-align: center;
                width: 100%;
            }
        }
    }
    .wrapp{
        @media screen and (max-width: 1080px){
            order: -1;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        .list{
            margin-left: 20px;
        }
        .list, .item{
            p,a{
                display: inline;
                font-weight: 400;
                font-size: 24px;
                line-height: 29px;
                text-align: center;
                color: #1F3B4C;
                position: relative;
                @media screen and (max-width: 1080px){
                    font-size: 18px;
                    line-height: 22px;
                }
                &:before{
                    content: '';
                    display: block;
                    width: 11.63px;
                    height: 11.63px;
                    background: #1F3B4C;
                    border-radius: 11px;
                    position: absolute;
                    left: -20px;
                    top: 9px;
                }
            }
        }
    }
}
.section-question{
    background: rgba(31, 59, 76, 1);
    overflow: hidden;
    position: relative;
    form{
        display: flex;
        gap: 40px;
        flex-direction: column;
        padding: 48px 0;
        width: 60.345%;
        @media screen and (max-width: 900px){
            width: 100%;
        }
        >h1{
            font-weight: 700;
            font-size: 52px;
            line-height: 63px;
            display: inline;
            color: #FBD60B;
            span{
                display: block;
                width: 100%;
                height: 6px;
                background: rgba(251, 214, 11, 1);
                margin-bottom: 24px;
                margin-top: 4px;
            }
        }
        @media screen and (max-width: 1000px){
            >h1{
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                text-align: center;
                width: 100%;
            }
        }
        input{
            border-bottom: 1px solid #FBD60B;
            width: 100%;
            padding: 14px 0;
            background: transparent;
            color: #ffffff;
        }
        ::placeholder{
            color: #ffffff;
        }
        :-moz-placeholder{
            color: #ffffff;
        }
        :-ms-input-placeholder{
            color: #ffffff;
        }
        ::-moz-placeholder{
            color: #ffffff;
        }
        ::-ms-input-placeholder{
            color: #ffffff;
        }
        ::-webkit-input-placeholder{
            color: #ffffff;
        }
        textarea{
            border-bottom: 1px solid #FBD60B;
            width: 100%;
            min-height: 45px;
            max-height: 250px;
            padding: 14px 0;
            background: transparent;
            resize: vertical;
            color: #ffffff;
        }
        div{
            color: #ffffff;
            input{
                width: auto;
            }
            a{
                display: inline-flex;
                flex-direction: column;
                color: #0C5A93;
                span{
                    background: #0C5A93;
                    height: 1px;
                    display: block;
                    margin-top: 4px;
                }
            }
        }
        button{
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            text-transform: uppercase;
            color: rgba(0, 0, 0, 1);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 357px;
            height: 76px;
            background: #FBD60B;
            border-radius: 39px;
            transition: 0.7s;
            &:hover{
                transition: 0.3s;
                background: #2A5168;
                color: #FFFFFF
            }
            @media screen and (max-width: 700px) {
                width: 272px;
                height: 59px;
                font-weight: 500;
                font-size: 19px;
                line-height: 23px;
                text-align: center;
                text-transform: uppercase;
                color: #000000;
            }
            @media screen and (max-width: 900px){
                margin: 0 auto;
            }
        }
    }
    img {
        width: 38%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        right: 0;
        top: 0;
        @media screen and (max-width: 900px){
            display: none;
        }
    }
}
a.button{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 357px;
    height: 76px;
    background: #FBD60B;
    border-radius: 39px;
    transition: 0.7s;
    &:hover{
        transition: 0.3s;
        background: #2A5168;
        color: #FFFFFF
    }
    @media screen and (max-width: 700px) {
        width: 272px;
        height: 59px;
        font-weight: 500;
        font-size: 19px;
        line-height: 23px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
    }
}
.up{
    position: fixed;
    bottom: 48px;
    right: 48px;
    height: 48px;
    width: 48px;
    border-radius: 24px;
    background: #fbd60b;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #525151;
}

